
<app-loader *ngIf="loading"></app-loader>

<app-error *ngIf="error" [error]="error"></app-error>

<app-breadcrumb *ngIf="!loading && !error" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="article" class="main-container">

	<div class="row">
        <div class="col-12 col-md-8">

			<section class="card mb-4 article">

				<figure class="article-figure">
					<img [src]="mediaPath + '/' + article.image.uri" class="img-fluid" alt="">
					<div *ngIf="article.image.credit" class="article-figure-credit">
						{{ article.image.credit }}
					</div>
					<div *ngIf="article.image.caption" class="article-figure-caption">
						{{ article.image.caption }}
					</div>
				</figure>

				<div class="article-content">

					<h1 class="article-title">{{ article.title }}</h1>

					<p class="article-spot">{{ article.spot }}</p>

					<div [innerHTML]="article.content" class="text-content"></div>

					<time class="article-date">
						Created date: {{ article.created_date | date }}
						<ng-container *ngIf="article.updated_date">- Updated date: {{ article.updated_date | date }}</ng-container>
					</time>

				</div>

			</section>

		</div>
		<div class="col-12 col-md-4">

			<section class="mb-4">

				<h2 class="h2-yellow">Related Topics</h2>
				<ul class="related-topics">
					<li *ngFor="let champ of article.related_champs_map">
						<a [routerLink]="['/champs', champ.slug]" class="btn btn-sm">
							{{ champ.name }}
						</a>
					</li>
					<li *ngFor="let meeting of article.related_meetings_map">
						<a [routerLink]="['/champs', meeting.champ.slug, meeting.slug]" class="btn btn-sm">
							{{ meeting.name }}
						</a>
					</li>
					<li *ngFor="let country of article.related_countries_map">
						<a [routerLink]="['/country', country.code]" class="btn btn-sm">
							{{ country.name }}
						</a>
					</li>
					<li *ngFor="let athlete of article.related_athletes_map">
						<a [routerLink]="['/athlete', athlete.id, athlete.slug]" class="btn btn-sm">
							{{ athlete.first_name }} {{ athlete.last_name }}
						</a>
					</li>
				</ul>

			</section>

			<section class="mb-4">
				<h2 class="h2-yellow">Latest Articles</h2>
				<app-articles [articles]="latestArticles"></app-articles>
			</section>

		</div>
	</div>

</section>
