
@import 'variables';
@import 'hamburger';

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #313339;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4);
    transition: height .3s ease;

    @media #{$responsive-lg} {
        height: 80px;
    }

    @media #{$responsive-md} {
        height: 60px;
    }

    .header-container {
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @media #{$responsive-lg} {
            width: 100%;
            padding: 0 15px;
        }

        @media #{$responsive-md} {
            padding: 0 10px;
        }

        .logo {
            display: block;
            height: 100%;
            width: auto;

            img {
                display: block;
                height: 100%;
                width: auto;
            }

        }

        .social-media {

            svg {
                width: 32px;
                height: 32px;
                margin-right: 20px;

                path {
                    fill: #fff;
                    transition: all .3s ease;
                }

                &:hover path {
                    fill: #ffdd00;
                }
            }

        }

        .search-icon {
            padding-right: 10px;
            cursor: pointer;
            opacity: 1;
            transition: opacity .2s ease;

            svg {
                width: 32px;
                height: 32px;

                @media #{$responsive-md} {
                    width: 22px;
                    height: 22px;
                }

                path {
                    transition: all .3s ease;
                }

                &:hover path {
                    fill: #ffdd00;
                }
            }
        }

    }

    &.mobile-nav-open {

        @media #{$responsive-md} {

            .search-icon {
                opacity: 0 !important;
            }

        }

    }

}

.nav {
    width: 100%;
    height: 50px;
    background-color: #ffdd00;
    transition: height .3s ease;

    @media #{$responsive-lg} {
        height: 40px;
    }

    @media #{$responsive-md} {
        display: none;
    }

    .nav-container {
        width: 1200px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;

        @media #{$responsive-lg} {
            width: 100%;
            padding: 0 6px;
        }

        ul.menu {
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            text-transform: uppercase;
            user-select: none;
            font-family: $font-ubuntu;
            font-weight: 700;
            font-size: 16px;
            text-align: center;
            margin-left: 15px;

            @media #{$responsive-lg} {
                font-size: 14px;
                padding: 0 5px;
            }

            li {
                height: 100%;
                margin-right: 32px;
                transform: skewX(-30deg);
                transition: all .2s ease;

                @media #{$responsive-lg} {
                    margin-right: 16px;
                }

                a {
                    display: block;
            		color: #313339;
                    height: 100%;
                    line-height: 50px;
                    padding: 0 20px;
                    transform: skewX(30deg);

                    @media #{$responsive-lg} {
                        padding: 0 16px;
                        line-height: 40px;
                    }
                }

                &:hover, &.active {
                    background-color: #313339;
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

					a {
                    	color: #ffdd00;
					}
                }
            }
        }

        .search-icon {
            padding-right: 10px;
            cursor: pointer;

            svg {
                width: 20px;
                height: 20px;
            }
        }

    }

}

.mobile-nav {
    position: absolute;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 0;
    padding: 0;
    background-color: #313339;
    overflow: hidden;
    transition: all .2s ease;
    z-index: 900;

    @media #{$responsive-md} {
        &.opened {
            height: calc(100% - 60px);
            padding: 20px;
        }
    }

    ul.menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-family: $font-ubuntu;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #eee;


        li {
            margin-bottom: 20px;

            &.active {
                color: #ffdd00;
            }
        }
    }

    .mobile-nav-footer {
        margin-top: auto;
        text-align: center;

        a {
            display: block;
            color: #eee;
            margin-bottom: 10px;
        }

        p {
            font-size: 12px;
            line-height: 16px;
            color: #888;

            .copyleft {
                display: inline-block;
                font-size: 20px;
                transform: rotate(180deg);
                position: relative;
                top: 6px;
            }
        }
    }
}
