
<header class="header">
    <div class="header-container">
        <h1>Athletics Podium</h1>
    </div>
</header>
<nav class="nav">
    <div class="nav-container">
        <ul class="menu">
            <li [class.active]="activeNav === ENavigation.HOME">
                <a routerLink="/">Home</a>
            </li>
            <li [class.active]="activeNav === ENavigation.COUNTRIES">
                <a routerLink="/country">Countries</a>
            </li>
            <li [class.active]="activeNav === ENavigation.CHAMPS">
                <a routerLink="/champs">Champs</a>
            </li>
            <li [class.active]="activeNav === ENavigation.ATHLETES">
                <a routerLink="/athlete">Athletes</a>
            </li>
            <li [class.active]="activeNav === ENavigation.CALENDAR">
                <a routerLink="/calendar">Calendar</a>
            </li>
            <li [class.active]="activeNav === ENavigation.ARTICLES">
                <a routerLink="/articles">Articles</a>
            </li>
        </ul>
    </div>
</nav>
