
<app-loader *ngIf="loading"></app-loader>

<app-breadcrumb *ngIf="!loading" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="!loading" class="main-container">
    
    <div class="row">
        <div class="col-md-3">

            <section>

                <h4 class="h2-yellow">
                    Meetings
                </h4>
    
                <div class="card mb-4">
                    
                    <ul class="meetings">
                        <li *ngFor="let meeting of champs.meetings">
                            <a [routerLink]="'/champs/' + champs.slug + '/' + meeting.slug" routerLinkActive="active">
                                {{ meeting.year }} <span *ngIf="meeting.short_name">({{ meeting.short_name  }})</span>
                            </a>
                        </li>
                    </ul>
    
                </div>

            </section>

            <section *ngIf="meeting && totals">

                <h4 class="h2-yellow">
                    {{ meeting.year }}'s Total Medals
                </h4>

                <app-country-medal-count-table [data]="totals"></app-country-medal-count-table>

            </section>

        </div>
        <div class="col-md-9">

            <app-loader *ngIf="loading_meeting"></app-loader>

            <ng-container *ngIf="!loading_meeting">

                <h1 class="h1">
                    {{ meeting.name }}
                </h1>

                <ul class="meeting-info">
                    <li *ngIf="meeting.country_code">
                        <img src="/assets/icons/pin.svg" alt="">
                        <a [routerLink]="'/country/' + meeting.country.code">
                            {{ meeting.country.name }}</a>{{ meeting.city ? ', ' + meeting.city : '' }}
                    </li>
                    <li *ngIf="meeting.start_date">
                        <img src="/assets/icons/calendar.svg" alt="">
                        {{ meeting.start_date | date }} {{ meeting.end_date ? '- ' + (meeting.end_date | date) : '' }}
                    </li>
                </ul>

                <div class="meeting-content" [innerHTML]="meeting.content"></div>

                <ng-container *ngFor="let gender of events | keyvalue">

                    <section [id]="'section-' + (gender.key | gender).name.toLowerCase()" *ngIf="gender.value.length">

                        <ul class="gender-bar">
                            <li [class.active]="gender.key === '0'" (click)="scrollToGender('men')">
                                Men
                            </li>
                            <li [class.active]="gender.key === '1'" (click)="scrollToGender('women')">
                                Women
                            </li>
                        </ul>

                        <div class="mb-4"></div>
                        
                        <div *ngFor="let event of gender.value" class="event">
        
                            <h3 class="event-name">{{ event.name }}</h3>
        
                            <table class="table-medals mb-0">
                                <thead>
                                    <tr>
                                        <th style="width: 60px" class="text-center">Medal</th>
                                        <th>Athlete</th>
                                        <th style="width: 90px" class="text-center">Country</th>
                                        <th style="width: 100px" class="text-right">Mark</th>
                                        <th style="width: 80px">W/I</th>
                                        <th style="width: 80px">Record</th>
                                        <th style="width: 60px" class="text-center">Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let medal of event.medals" [class.canceled]="medal.is_canceled">
                                        <td class="p-0 text-center">
                                            <p *ngIf="!medal.is_canceled" [attr.aria-label]="(medal.medal | medal).name" data-balloon-pos="up">
                                                <img [src]="(medal.medal | medal).icon" class="medal-icon" alt="">
                                            </p>
                                            <span *ngIf="medal.is_canceled">
                                                {{ medal.medal ? medal.medal + '.' : '-'}}
                                            </span>
                                        </td>
                                        <td *ngIf="medal.athlete">
                                            <a [routerLink]="'/athlete/' + medal.athlete_id + '/' + medal.athlete.slug">
                                                {{ medal.athlete_name ? medal.athlete_name : medal.athlete.first_name + ' ' + medal.athlete.last_name }}
                                                <img *ngIf="medal.athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                                            </a>
                                        </td>
                                        <td *ngIf="!medal.athlete">
                                            {{ medal.athlete_name ? medal.athlete_name : '-' }}
                                        </td>
                                        <td class="text-center text-nowrap">
                                            <a [routerLink]="'/country/' + medal.country_code" [attr.aria-label]="medal.country.name" data-balloon-pos="up">
                                                <img class="country-flag" [attr.src]="'/assets/flags/' + medal.country_code.toLowerCase() + '.svg'" alt="">
                                                {{ medal.country_code }}
                                            </a>
                                        </td>
                                        <td class="text-right font-bold text-nowrap">
                                            {{ medal.mark_display }}
                                        </td>
                                        <td *ngIf="medal.wind" class="font-smaller" [class.invalid-wind]="medal.wind > 2">
                                            {{ medal.wind | number: '1.1-1' }}
                                        </td>
                                        <td *ngIf="!medal.wind" class="font-smaller">
                                            {{ medal.info }}
                                        </td>
                                        <td>
                                            {{ medal.records }}
                                        </td>
                                        <td class="p-0 text-center">
                                            <span *ngIf="medal.notes" [attr.aria-label]="medal.notes" data-balloon-pos="up" data-balloon-length="small">
                                                <img src="/assets/icons/info.svg" class="info-circle" alt="">                                        
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
        
                            <div *ngIf="event.notes" class="event-notes">
                                * {{ event.notes }}
                            </div>
        
                        </div>
    
                    </section>

                </ng-container>

            </ng-container>

        </div>
    </div>

</section>