
@import 'variables';

.meetings {
    font-weight: bold;

    li {

        a {
            position: relative;
            display: inline-block;
            line-height: 18px;
            padding: 2px 0;
            padding-left: 18px;
            transition: all .2s ease;

            span {
                position: relative;
                top: -2px;
                font-weight: normal;
                font-size: 12px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 0;
                display: block;
                width: 8px;
                height: 8px;
                background-color: #888;
                transform: skewX(12deg);
                transition: all .2s ease;
            }

            &:hover:before {
                background-color: #ffdd00;
            }

            &.active {
                padding-left: 28px;

                &:before {
                    left: 8px;
                    background-color: #ffdd00;
                }
            }

        }
        
    }
}

.meeting-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 32px;

    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 20px;

        img {
            height: 18px;
            margin-right: 8px;
        }
    }
}

.meeting-content {
    margin-bottom: 32px;
}

.gender-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: #f9f9f9;
    z-index: 10;

    &:after {
        content: '';
        width: 100%;
        height: 18px;
        background-color: #ffdd00;
        transform: skewX(12deg);
    }

    li {
        width: 110px;
        color: #ccc;
        cursor: pointer;

        &.active {
            color: #4b4f54;
        }

        &:nth-child(2){
            width: 140px;
        }

        &:before {
            content: "";
            position: relative;
            top: 1px;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #ffdd00;
            transform: skewX(12deg);
        }

    }
}

.event {
    margin-bottom: 32px;

    h3.event-name {
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
    }
    
    .event-notes {
        margin-top: 10px;
        font-size: 12px;
    }

}
