
@import 'variables';

::ng-deep {
    .lb-data .lb-caption {
        font-size: 14px;
        font-weight: normal;
        display: block;
        margin-bottom: 4px;
    }
}

.athlete-left {
    padding: 0;

    .athlete-images {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        li {
            width: 48%;

            img {
                width: 100%;
                height: 100px;
                object-fit: contain;
                border-radius: 4px;
                cursor: pointer;
            }

            &.cover {
                width: 100%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        
    }

    .default-image {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 4px;
    }
}

.athlete-header {

    .athlete-name {

        span {
            line-height: 16px;
        }

        .olympic-rings {
            width: 32px;
        }
        
    }

    .athlete-info {
        margin-bottom: 30px;

        li {
            margin-bottom: 8px;

            span:first-child {
                display: inline-block;
                width: 120px;
                font-size: 12px;
                color: #888;
            }

            span:last-child {
                display: inline-block;
                font-weight: bold;

                &:before {
                    content: ':';
                    display: inline-block;
                    width: 20px;
                    text-align: left;
                    font-weight: 400;
                    color: #999;
                }
            }

            img {
                width: 20px;
                display: inline-block;
                position: relative;
                top: -2px;
            }

        }

    }

}

.athlete-bio::ng-deep {
    @include text-content();
    padding: 20px;

    @media #{$responsive-sm} {
        padding: 15px;
    }

    .line-champ {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

