
.athlete-header {

    .athlete-name {
        margin-bottom: 30px;

        span {
            display: inline-block;
            margin-left: 10px;
            font-size: 60%;

            img {
                width: 18px;
                display: inline-block;
                margin-right: 4px;
            }
        }
    }

    .athlete-info {
        margin-bottom: 20px;

        li {
            margin-bottom: 8px;

            span:first-child {
                display: inline-block;
                width: 140px;
            }

            span:last-child {
                display: inline-block;
                font-weight: bold;

                &:before {
                    content: ':';
                    display: inline-block;
                    width: 40px;
                    text-align: left;
                    font-weight: 400;
                    color: #999;
                }
            }

        }

    }

}

