
.athlete-left {
    padding: 0;

    img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.athlete-header {

    .athlete-name {
        margin-bottom: 30px;

        .olympic-rings {
            width: 32px;
        }
    }

    .athlete-info {
        margin-bottom: 20px;

        li {
            margin-bottom: 8px;

            span:first-child {
                display: inline-block;
                width: 140px;
            }

            span:last-child {
                display: inline-block;
                font-weight: bold;

                &:before {
                    content: ':';
                    display: inline-block;
                    width: 40px;
                    text-align: left;
                    font-weight: 400;
                    color: #999;
                }
            }

        }

    }

}

.athlete-bio > div {
    font-family: 'Lato';
    font-size: 13px;
    line-height: 20px;
}

