
<app-loader *ngIf="loading"></app-loader>

<app-error *ngIf="error" [error]="error"></app-error>

<app-breadcrumb *ngIf="!loading && !error" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="!loading && !error" class="main-container">

    <div class="row">
        <div class="col-md-3">

            <section class="athlete-left mb-2 mb-md-4">

                <ng-container *ngIf="athlete.image?.length; else noImages">
                    <ul class="athlete-images">
                        <li *ngFor="let image of athlete.image; let i = index" [class.cover]="i === 0">
                            <div class="card p-0 mb-2" (click)="showPicture = i">
                                <img [src]="mediaPath + '/' + athlete.id + '/' + image.uri" alt="">
                            </div>
                        </li>
                    </ul>
                </ng-container>

                <ng-template #noImages>
                    <div class="card p-0">
                        <img class="default-image" [src]="'/assets/placeholders/athlete-' + (athlete.gender ? 'men' : 'women') + '.jpg'" alt="">
                    </div>
                </ng-template>

            </section>

			<section *ngIf="olympians?.length" class="mb-4 d-none d-md-block">
                <h2 class="h2-yellow">{{ olympians.length }}x Olympian</h2>
				<ul class="related-topics">
					<li *ngFor="let meeting of olympians">
						<a [routerLink]="['/champs', meeting.champ.slug, meeting.slug]" class="btn btn-sm">
							{{ meeting.year }} {{ meeting.city }}
						</a>
					</li>
				</ul>
            </section>

            <section class="mb-4 d-none d-md-block">
                <h2 class="h2-yellow">Related Articles</h2>
				<app-articles [articles]="articles"></app-articles>
            </section>

        </div>
        <div class="col-md-9">

            <section class="athlete-header mb-4">

                <h1 class="h1 athlete-name">
                    {{ athlete.first_name }} {{ athlete.last_name }}
                    <span aria-label="Olympic gold medal" data-balloon-pos="up">
                        <img *ngIf="athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                    </span>
                </h1>

                <ul class="athlete-info">
                    <li>
                        <span>Country</span>
                        <span>
                            <a [routerLink]="'/country/' + athlete.country_code">
                                <img [src]="'/assets/flags/' + athlete.country_code.toLowerCase() + '.svg'" alt="">
                                {{ athlete.country.name }}
                            </a>
                        </span>
                    </li>
                    <li>
                        <span>Date of Birth</span>
                        <span>{{ athlete.date_of_birth ? (athlete.date_of_birth | date) : '-' }}</span>
                    </li>
                    <li *ngIf="athlete.date_of_death">
                        <span>Date of Death</span>
                        <span>{{ athlete.date_of_death | date }}</span>
                    </li>
                    <li>
                        <span>Birth Place</span>
                        <span>{{ athlete.place_of_birth || '-' }}</span>
                    </li>
                    <li>
                        <span>Aka</span>
                        <span>{{ athlete.aka && athlete.aka.length ? athlete.aka.join(', ') : '-' }}</span>
                    </li>
                    <li>
                        <span>Events</span>
                        <span>{{ athlete.events ? athlete.events.join(', ') : '-' }}</span>
                    </li>
                    <li>
                        <span>Related Athletes</span>
                        <span *ngIf="!relateds?.length">-</span>
                        <span *ngIf="relateds?.length">
                            <span *ngFor="let relation of relateds; let i = index" class="related-item">

                                <ng-container *ngIf="relation.athlete_from_id === athlete.id">
                                    <a class="related-link" [routerLink]="'/athlete/' + relation.athlete_to_id + '/' + relation.athlete_to.slug">{{ relation.athlete_to.first_name }} {{ relation.athlete_to.last_name }}</a>
                                    ({{ (relation.relation_from | related).name }})</ng-container>
                                <ng-container *ngIf="relation.athlete_from_id !== athlete.id">
                                    <a class="related-link" [routerLink]="'/athlete/' + relation.athlete_from_id + '/' + relation.athlete_from.slug">{{ relation.athlete_from.first_name }} {{ relation.athlete_from.last_name }}</a>
                                    ({{ (relation.relation_to | related).name }})</ng-container>

                            </span>
                        </span>
                    </li>
                </ul>

            </section>

            <section *ngIf="athlete.biography">
                <h2 class="h2-yellow">Bio</h2>
                <div class="card athlete-bio mb-4">
                    <div *ngIf="!expandBio">
                        <div class="line-champ">
                            {{ athlete.biography | stripHtmlTags | stringSlice: 200 }}...
                        </div>
                        <button type="button" class="btn btn-sm mt-2" (click)="expandBio = true">More &rarr;</button>
                    </div>
                    <div *ngIf="expandBio">
                        <div [innerHTML]="athlete.biography | safeHtml"></div>
                        <button type="button" class="btn btn-sm mt-2" (click)="expandBio = false">&larr; Less</button>
                    </div>
                </div>
            </section>

			<section class="athlete-medals-counts mb-4">

                <h2 class="h2-yellow">
                    {{ athlete.first_name }} {{ athlete.last_name }}'s Totals
                </h2>

                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Champs</th>
                            <th class="text-center">Gold</th>
                            <th class="text-center">Silver</th>
                            <th class="text-center">Bronze</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let champ of medalsCount">
                            <td>
                                <a [routerLink]="'/champs/' + champ.slug">
                                    {{ champ.name }}
                                </a>
                            </td>
                            <td class="text-center">{{ champ.medals.gold }}</td>
                            <td class="text-center">{{ champ.medals.silver }}</td>
                            <td class="text-center">{{ champ.medals.bronze }}</td>
                            <td class="text-center font-bold">{{ champ.medals.total }}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td class="text-center font-bold">{{ medalsCountTotals.gold }}</td>
                            <td class="text-center font-bold">{{ medalsCountTotals.silver }}</td>
                            <td class="text-center font-bold">{{ medalsCountTotals.bronze }}</td>
                            <td class="text-center font-bold">{{ medalsCountTotals.total }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section class="athlete-medals mb-4">

                <h2 class="h2-yellow">
                    {{ athlete.first_name }} {{ athlete.last_name }}'s Medals
                </h2>

                <div class="table-responsive">
                    <table class="table-medals table-medals-min-width">
                        <thead>
                            <tr>
                                <th style="width: 60px">Year</th>
                                <th>Champs</th>
                                <th style="width: 60px" class="text-center">Medal</th>
                                <th style="width: 100px">Event</th>
                                <th style="width: 70px" class="text-center">Country</th>
                                <th style="width: 100px" class="text-right">Mark</th>
                                <th style="width: 80px" title="Wind / Info">W/I</th>
                                <th style="width: 80px">Record</th>
                                <th style="width: 60px" class="text-center">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medal of medals" [class.canceled]="medal.is_canceled">
                                <td>
                                    <a [routerLink]="'/champs/' + medal.champ.slug + '/' + medal.meeting.slug">
                                        {{ medal.meeting.year }}
                                    </a>
                                </td>
                                <td>
                                    <a [routerLink]="'/champs/' + medal.champ.slug">
                                        {{ medal.champ.name }}
                                    </a>
                                </td>
                                <td class="p-0 text-center">
                                    <p *ngIf="!medal.is_canceled" [attr.aria-label]="(medal.medal | medal).name" data-balloon-pos="up">
                                        <img [src]="(medal.medal | medal).icon" class="medal-icon" alt="">
                                    </p>
                                    <span *ngIf="medal.is_canceled">
                                        {{ medal.medal ? medal.medal + '.' : '-'}}
                                    </span>
                                </td>
                                <td>
                                    {{ medal.event.name }}
                                </td>
                                <td class="text-center">
                                    <a [routerLink]="'/country/' + medal.country_code" [attr.aria-label]="medal.country.name" data-balloon-pos="up">
                                        <img class="country-flag" [attr.src]="'/assets/flags/' + medal.country_code.toLowerCase() + '.svg'" [attr.alt]="medal.country_code">
                                    </a>
                                </td>
                                <td class="text-right font-bold text-nowrap">
                                    {{ medal.mark_display }}
                                </td>
                                <td *ngIf="medal.wind !== null" class="font-smaller" [class.invalid-wind]="medal.wind > 2">
                                    {{ medal.wind | number: '1.1-1' }}
                                </td>
                                <td *ngIf="medal.wind === null" class="font-smaller">
                                    {{ medal.info }}
                                </td>
                                <td>
                                    {{ medal.records }}
                                </td>
                                <td class="text-center">
                                    <span *ngIf="medal.notes" [attr.aria-label]="medal.notes" data-balloon-pos="up">
                                        <img src="/assets/icons/info.svg" class="info-circle" alt="">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </section>

			<section *ngIf="medalsNationals.length" class="athlete-medals mb-4">

				<h2 class="h2-yellow">
					{{ athlete.first_name }} {{ athlete.last_name }}'s National Titles
				</h2>

				<div class="table-responsive">
					<table class="table-medals table-medals-min-width">
						<thead>
							<tr>
								<th style="width: 60px">Year</th>
								<th>Champs</th>
								<th style="width: 60px" class="text-center">Medal</th>
								<th style="width: 100px">Event</th>
								<th style="width: 70px" class="text-center">Country</th>
								<th style="width: 100px" class="text-right">Mark</th>
								<th style="width: 80px" title="Wind / Info">W/I</th>
								<th style="width: 80px">Record</th>
								<th style="width: 60px" class="text-center">Notes</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let medal of medalsNationals" [class.canceled]="medal.is_canceled">
								<td>
									<a [routerLink]="'/champs/' + medal.champ.slug + '/' + medal.meeting.slug">
										{{ medal.meeting.year }}
									</a>
								</td>
								<td>
									<a [routerLink]="'/champs/' + medal.champ.slug">
										{{ medal.champ.name }}
									</a>
								</td>
								<td class="p-0 text-center">
									<p *ngIf="!medal.is_canceled" [attr.aria-label]="(medal.medal | medal).name"
										data-balloon-pos="up">
										<img [src]="(medal.medal | medal).icon" class="medal-icon" alt="">
									</p>
									<span *ngIf="medal.is_canceled">
										{{ medal.medal ? medal.medal + '.' : '-'}}
									</span>
								</td>
								<td>
									{{ medal.event.name }}
								</td>
								<td class="text-center">
									<a [routerLink]="'/country/' + medal.country_code" [attr.aria-label]="medal.country.name"
										data-balloon-pos="up">
										<img class="country-flag"
											[attr.src]="'/assets/flags/' + medal.country_code.toLowerCase() + '.svg'"
											[attr.alt]="medal.country_code">
									</a>
								</td>
								<td class="text-right font-bold text-nowrap">
									{{ medal.mark_display }}
								</td>
								<td *ngIf="medal.wind !== null" class="font-smaller" [class.invalid-wind]="medal.wind > 2">
									{{ medal.wind | number: '1.1-1' }}
								</td>
								<td *ngIf="medal.wind === null" class="font-smaller">
									{{ medal.info }}
								</td>
								<td>
									{{ medal.records }}
								</td>
								<td class="text-center">
									<span *ngIf="medal.notes" [attr.aria-label]="medal.notes" data-balloon-pos="up">
										<img src="/assets/icons/info.svg" class="info-circle" alt="">
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</section>

			<section *ngIf="olympians?.length" class="mb-4 d-block d-md-none">
                <h2 class="h2-yellow">{{ olympians.length }}x Olympian</h2>
				<ul class="related-topics">
					<li *ngFor="let meeting of olympians">
						<a [routerLink]="['/champs', meeting.champ.slug, meeting.slug]" class="btn btn-sm">
							{{ meeting.year }} {{ meeting.city }}
						</a>
					</li>
				</ul>
            </section>

            <section class="mb-4 d-block d-md-none">
                <h2 class="h2-yellow">Related Articles</h2>
				<app-articles [articles]="articles"></app-articles>
            </section>

        </div>
    </div>

</section>

<div *ngIf="athlete" class="picture-overlay" [class.active]="showPicture !== null" (click)="showPicture = null">
    <div *ngFor="let image of athlete.image; let i = index" class="item" [class.active]="showPicture === i">
        <img [src]="mediaPath + '/' + athlete.id + '/' + image.uri" alt="">
        <p *ngIf="image.caption && image.credit" [innerHTML]="image.caption + '<br>' + image.credit"></p>
        <p *ngIf="!(image.caption && image.credit)">{{ image.caption || image.credit }}</p>
    </div>
</div>
