
<section class="main-container">
    
    <h1 class="h1">Simple Notes on Database</h1>
    
    <div class="row">
        <div class="col-12 col-md-8 page-content">

            <p>
                >> Olympics rings (on the names) indicates to ‘Olympic gold medallists’
            </p>

            <p>
                >> The column of W/I (Winds/Information) presents wind information for related sprint/jumping events (if available of course), or providing below technical addition examples:
            </p>

            <p>
                w	it’s windy, but no certain measurement available<br>
                w? 	not sure windy or not, possibly not legal performance<br>
                nwi 	no wind information<br>
                n/a	as usual, ‘not available’<br>
                * 	some related technical information on NOTES row<br>
                (i) 	indoor performance<br>
                ,5	additional half centimeter measurement in earlier jumping/throwing events<br>
                ,000	(two or three digit detail) – decathlon points fractions. (Before 1934)<br>
                pts	Points, for team (mostly XC or road events) competitions. <br>
            </p>
            
            <p>
                >> The column of R reserved to record information if exist. However, this column is not fully complete. Indications on R column:
            </p>
            
            <p>
                AR	Area record (Continental record)<br>
                CR	Championship record<br>
                AU23R	Area U23 record<br>
                AU20R	Area U20 record<br>
                AU18R	Area U18 record<br>
                NR	National record<br>
                OR	Olympic record<br>
                WB	World best<br>
                WR	World record<br>
                WIR	World Indoor record<br>
                WU18B	World U18 best<br>
                WU20R	World U20 record<br>
                =	Equaling to existing record<br>
                *	If breaking record in heats/qualifying, additional info available on NOTES.<br>
            </p>

            <p>
                >> Some non-existing countries merged with current follow-up nations code. In this case, every medallist then-represented countries has been noted on last column. For example, Federal German Republic (West Germany) medallist in 1949-89 period, shown as GER on country column, but enclosed with ‘competed under flag FRG’ note.
            </p>

            <p>
                >> Meanwhile, all four Britain nations whose competing under their own flag in Commonwelath Games, also merged with GBR for reason of data consistency. Of course, all medallists own country (SCO, WAL, ENG or NIR) explained on Notes column. 
            </p>
            
            <p>
                >> If splits available for relay events, every runner has own split times on notes. 
            </p>

            <p>
                >> Overlined red row means stripped medals after disciplinary sanctions (mostly doping). Every stripped medallists original positions and marks is available. Additional information can be found in notes column. 
            </p>
            
            <p>
                >> Some ‘adjusted times’ available on database. Adjusted times: technologically-measured and adapted marks. Mostly applied as 1/10 secs to converting 1/100 in earlier Olympic results. 
            </p>

            <p>
                >> In case of equalling, tie-break applications noted on last column. For example; 0.000 details on sprint races, or attempt (xxo) details on jumping events. 
            </p>

            <p>
                >> Exemption about results of Youth Olympics 2018: There was unique execution on that event: Combined of two races counted as final result. We provided all marks (total = first + second) on notes column instead of results.
            </p>
                
        </div>
        <div class="col-12 col-md-4">

        </div>
    </div>

</section>
