
<app-loader *ngIf="loading"></app-loader>

<app-error *ngIf="error" [error]="error"></app-error>

<section *ngIf="!loading && !error" class="main-container">

    <h1 class="h1 mb-4">Champs</h1>

	<ng-container *ngFor="let category of categories">
		<div *ngIf="category.champs?.length" class="champs">

			<h2 class="h2-yellow">{{ category.name }}</h2>
			<ul class="champs">
				<li *ngFor="let item of category.champs">
					<a [routerLink]="'/champs/' + item.slug">{{ item.name }}</a>
				</li>
			</ul>

		</div>
	</ng-container>

</section>
