.categories {
    font-weight: bold;

    li {

        span {
            position: relative;
            display: inline-block;
			font-size: 16px;
            line-height: 18px;
            padding: 4px 0;
            padding-left: 18px;
			cursor: pointer;
            transition: all .2s ease;

            &:before {
                content: "";
                position: absolute;
                top: 9px;
                left: 0;
                display: block;
                width: 8px;
                height: 8px;
                background-color: #999;
                transform: skewX(12deg);
                transition: all .2s ease;
            }

            &:hover:before {
                background-color: #ffdd00;
            }

            &.active {
                padding-left: 28px;

                &:before {
                    left: 8px;
                    background-color: #ffdd00;
                }
            }

        }

    }
}

.champs {
	margin-top: 16px;

	> li {
		margin-bottom: 8px;
	}
}
