
@import 'variables';

.pagination-container {
    display: block;
    width: 100%;
    padding-bottom: 10px;

    @media #{$responsive-lg} {
        overflow-x: auto;
    }

    .pagination {
        display: inline-flex;
        font-size: 14px;
        font-weight: 700;
        line-height: 34px;
        text-align: center;
        border: 1px solid #eee;
        background-color: #fff;
        color: #4b4f54;
        user-select: none;

        @media #{$responsive-lg} {
            font-size: 12px;
            line-height: 30px;
        }

        .page {
            width: 36px;
            height: 36px;
            border-right: 1px solid #eee;
            cursor: pointer;
            transition: all .2s ease;

            @media #{$responsive-lg} {
                width: 32px;
                height: 32px;
            }

            &:last-child {
                border-right: none;
            }

            &.active {
                background-color: $color-yellow;
                border-color: $color-yellow;
            }

            &.disabled {
                color: #ccc;
            }
            
        }

        .prev, .next {
            height: 36px;
            padding: 0 12px;
            border-right: 1px solid #eee;
            cursor: pointer;
            transition: all .2s ease;

            @media #{$responsive-lg} {
                height: 32px;
            }

            &.disabled {
                color: #ccc;
            }
        }

    }

}
