
<app-loader *ngIf="loading"></app-loader>

<app-breadcrumb *ngIf="!loading" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="!loading" class="main-container">

    <div class="row">
        <div class="col-md-3">
    
            <div class="card country-info mb-4">

                <img class="country-flag" [src]="'/assets/flags/' + country.code.toLowerCase() + '.svg'" [attr.alt]="country.code">
                <span class="country-code">{{ country.code }}</span>

                <h1 class="h1">
                    {{ country.name }}
                </h1>

                <p class="country-content" *ngIf="country.content">
                    {{ country.content }}
                </p>
    
            </div>
    
        </div>
        <div class="col-md-9">

            <section class="mb-4">

                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="h2-yellow">{{ country.name || country.code }}'s Medals</h2>
                    <a [routerLink]="['/medals/search', { country: country_code }]">View all &rarr;</a>
                </div>

                <table class="table-medals mb-2">
                    <thead>
                        <tr>
                            <th>Champs</th>
                            <th class="text-center">Gold</th>
                            <th class="text-center">Silver</th>
                            <th class="text-center">Bronze</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let row of medals">
                            <td>
                                <a [routerLink]="'/champs/' + row.champ.slug">
                                    {{ row.champ.name }}
                                </a>
                            </td>
                            <td class="text-center">{{ row.gold }}</td>
                            <td class="text-center">{{ row.silver }}</td>
                            <td class="text-center">{{ row.bronze }}</td>
                            <td class="text-center font-bold">{{ row.total }}</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td class="text-center font-bold">{{ medals_counts.gold }}</td>
                            <td class="text-center font-bold">{{ medals_counts.silver }}</td>
                            <td class="text-center font-bold">{{ medals_counts.bronze }}</td>
                            <td class="text-center font-bold">{{ medals_counts.total }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section>

                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="h2-yellow">{{ country.name || country.code }}'s Top Athletes</h2>
                    <a [routerLink]="['/country/' + country.code + '/athletes']">View all &rarr;</a>
                </div>

                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Athlete</th>
                            <th class="text-center" style="width: 70px;">Gender</th>
                            <th class="text-center">Gold</th>
                            <th class="text-center">Silver</th>
                            <th class="text-center">Bronze</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;">
                        <tr *ngFor="let row of top_athletes">
                            <td>
                                <a [routerLink]="'/athlete/' + row.athlete.id + '/' + row.athlete.slug">
                                    {{ row.athlete.first_name }} {{ row.athlete.last_name }}
                                    <img *ngIf="row.athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                                </a>
                            </td>
                            <td class="text-center">{{ row.athlete.gender ? 'M' : 'W' }}</td>
                            <td class="text-center">{{ row.gold }}</td>
                            <td class="text-center">{{ row.silver }}</td>
                            <td class="text-center">{{ row.bronze }}</td>
                            <td class="text-center font-bold">{{ row.total }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

        </div>
    </div> 

</section>
