
@import 'variables';

.country-info {
    position: relative;

    .country-flag {
        margin: -10px;
        margin-bottom: 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        &:hover + .country-code {
            opacity: 0;
        }
    }

    .country-code {
        position: absolute;
        left: 10px;
        top: 10px;
        display: inline-block;
        background-color: $color-yellow;
        color: $color-gray;
        padding: 4px 8px;
        border-radius: 4px;
        font-weight: bold;
        box-shadow: 0px 1px 1px rgba(0,0,0,.06);
        opacity: 1;
        cursor: default;
        transition: all .2s ease;
    }

    .country-content {
        font-family: 'Lato';
        font-size: 13px;
        line-height: 20px;
    }

}