

.country-info {

    .country-flag {
        margin: -10px;
        margin-bottom: 16px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .country-content {
        font-family: 'Lato';
        font-size: 13px;
        line-height: 20px;
    }

}