.app-container {
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;

    &.blur {
        filter: blur(3px);
        user-select: none;
        pointer-events: none;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.7);
        }
    }

}
