
// Colors
$color-yellow: #ffdd00;
$color-gray: #4b4f54;

$font-roboto: 'Roboto Mono', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;

// Responsiveness
$responsive-xl: "only screen and (max-width: 1680px)";
$responsive-lg: "only screen and (max-width: 1200px)";
$responsive-md: "only screen and (max-width: 992px)";
$responsive-sm: "only screen and (max-width: 768px)";

// Root
:root {
    --yellow: #ffdd00;
}

// Mixins
@mixin text-content {
    font-family: $font-ubuntu;
    font-size: 15px;
    line-height: 24px;
    
    &-static {
        text-align: justify;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;

        h2 {
            font-family: $font-roboto;
            font-weight: bold;
            margin-bottom: 10px;
        }

    }

    p {
        margin-bottom: 15px;
    }

    a {
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $color-yellow;
            transition: all .2s ease-in-out;
        }

        &:hover:before {
            background-color: #4b4f54;
        }

    }

}
