
// Colors
$color-yellow: #ffdd00;
$color-gray: #4b4f54;

// Responsiveness
$responsive-xl: "only screen and (max-width: 1680px)";
$responsive-lg: "only screen and (max-width: 1200px)";
$responsive-md: "only screen and (max-width: 992px)";
$responsive-sm: "only screen and (max-width: 768px)";

// Root
:root {
    --yellow: #ffdd00;
}