@import 'reset';
@import 'variables';
@import 'bootstrap';
@import 'bootstrap.grid';
@import 'tooltips';

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f9f9f9;
    color: #4b4f54;
    font-family: 'Roboto Mono';
    font-size: 14px;
    font-weight: 400;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    min-height: 600px;

    @media #{$responsive-lg} {
        width: 100%;
        padding: 15px 4px;
    }

}

.card {
    background-color: #fff;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

/* headings */

.h1 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 20px;

    &.h1-larger {
        font-size: 28px;
        line-height: 32px;
    }
}

.h2-yellow {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    padding-left: 32px;
    margin-bottom: 10px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 18px;
        height: 18px;
        background-color: #ffdd00;
        transform: skewX(12deg);
    }
}

/* tables */

.table-medals {
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    background-color: #fff;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;

    thead {
        tr {
            th {
                height: 20px;
                line-height: 20px;
                padding: 0 8px;
                background-color: #eee;
                color: #999;
                font-size: 11px;
                text-transform: uppercase;
            }
        }
    }

    tbody {
        tr {
            td {
                text-align: left;
                height: 30px;
                padding: 8px;
                border: 1px solid #eee;
            }
        }
    }

    .font-smaller {
        font-size: 12px;
        letter-spacing: -1px;
    }

    .canceled {

        td {
            color: #de2d2d;
            text-decoration: line-through;

            &:hover {
                text-decoration: none !important;
            }
            
        }

    }

    .invalid-wind {
        color: #de2d2d;
    }

    .info-circle {
        width: 16px;
        height: 16px;
    }

    .country-flag {
        display: inline-block;
        position: relative;
        width: 24px;
        height: 18px;
        background-color: #fff;
        box-shadow: 0px 1px 1px rgba(0,0,0,.15);
        overflow: hidden;

        &:after { 
            content: attr(alt);
            display: block;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            font-size: 12px;
            line-height: 12px;
        }
    }

    .medal-icon {
        width: 24px;
    }

    .olympic-rings {
        width: 24px;
        height: 12px;
    }
}

/* forms */
.form-group {
    margin-bottom: 12px;
}

.form-horizontal {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;

    .form-group {
        position: relative;
        width: 100%;
        margin: 0;
        padding-right: 10px;
        padding-left: 10px;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }   
}

.form-label {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-bottom: 8px;
}

.form-input, .form-select {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 8px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;

    &:disabled {
        background-color: #f3f3f3;
        cursor: not-allowed;
    }

    &::placeholder {
        color: #aaa;
    }
    
}

.btn {
    height: 36px;
    padding: 0 20px;
    // margin-left: 12px;
    background-color: #ffdd00;
    color: #313339;
    font-family: 'Allerta Stencil', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    // transform: skewX(20deg);
    transition: all .2s ease;

    &.btn-block {
        width: 100%;
    }

    span {
        display: block;
        line-height: 36px;
        // transform: skewX(-20deg);
    }

    &:hover {
        background-color: #fde021;
    }
    &:active {
        position: relative;
        top: 2px;
    }
    
}
