
<section class="main-container">

    <h1 class="h1">Athletes</h1>

    <p class="mb-4">athlete index works!</p>
    

    <h2 class="h2-yellow">Athletes by Alphabet</h2>
    <section>

        <ul class="alphabet">
            <li *ngFor="let letter of alphabet" (click)="onChangeLetter(letter)" [class.active]="selectedLetter === letter">
                {{ letter }}
            </li>
        </ul>

        <div class="row">
            <div class="col-6">

                <table *ngIf="count" class="table-medals">
                    <thead>
                        <tr>
                            <th>Athlete Name</th>
                            <th style="width: 90px" class="text-center">Country</th>
                            <th>Birth Date</th>
                            <th style="width: 56px" class="text-center">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let athlete of athletesL">
                            <td>
                                <a [routerLink]="'/athlete/' + athlete.id + '/' + athlete.slug">
                                    {{ athlete.last_name }}, {{ athlete.first_name }} 
                                </a>
                            </td>
                            <td class="text-center">
                                <a [routerLink]="'/country/' + athlete.country_code" [attr.aria-label]="athlete.country.name" data-balloon-pos="up">
                                    <img class="country-flag" [src]="'/assets/flags/' + athlete.country_code.toLowerCase() + '.svg'" alt="">
                                    {{ athlete.country.code }}
                                </a>
                            </td>
                            <td>
                                {{ athlete.birth_date | date }}
                            </td>
                            <td class="text-center">
                                {{ athlete.gender ? 'M' : 'W' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-6">

                <table *ngIf="count" class="table-medals">
                    <thead>
                        <tr>
                            <th>Athlete Name</th>
                            <th style="width: 90px" class="text-center">Country</th>
                            <th>Birth Date</th>
                            <th style="width: 56px" class="text-center">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let athlete of athletesR">
                            <td>
                                <a [routerLink]="'/athlete/' + athlete.id + '/' + athlete.slug">
                                    {{ athlete.last_name }}, {{ athlete.first_name }} 
                                </a>
                            </td>
                            <td class="text-center">
                                <a [routerLink]="'/country/' + athlete.country_code" [attr.aria-label]="athlete.country.name" data-balloon-pos="up">
                                    <img class="country-flag" [src]="'/assets/flags/' + athlete.country_code.toLowerCase() + '.svg'" alt="">
                                    {{ athlete.country.code }}
                                </a>
                            </td>
                            <td>
                                {{ athlete.birth_date | date }}
                            </td>
                            <td class="text-center">
                                {{ athlete.gender ? 'M' : 'W' }}
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <app-pagination *ngIf="count" [pageSize]="pageSize" [total]="count" [currentPage]="page" (changedPage)="onChangePage($event)"></app-pagination>

    </section>

</section>
