
<footer class="footer">
    <div class="footer-container">
        
        <div class="row">
            <div class="col-12 col-md info order-last order-md-first">

                <a routerLink="/">
                    Athletics Podium
                </a>
                
                <p>
                    All rights reserved.<br>&copy; 2020
                </p>

            </div>
            <div class="col">

                <ul>
                    <li>
                        <a routerLink="/country">Countries</a>
                    </li>
                    <li>
                        <a routerLink="/champs">Champs</a>
                    </li>
                    <li>
                        <a routerLink="/athlete">Athletes</a>
                    </li>
                    <li>
                        <a routerLink="/calendar">Calendar</a>
                    </li>
                </ul>

            </div>
            <div class="col">

                <ul>
                    <li>
                        <a routerLink="/medals/search">Medal Tracker</a>
                    </li>
                    <li>
                        <a routerLink="/simple-notes">Simple Notes on Database</a>
                    </li>
                    <li>
                        <a routerLink="/missing-informations">Missing Informations</a>
                    </li>
                    <li>
                        <a routerLink="/about">About</a>
                    </li>
                </ul>

            </div>
            <div class="col">

                <h6>Social Media</h6>

                <ul>
                    <li>
                        <a href="https://twitter.com/athleticspodium" target="_blank">Twitter</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</footer>
