
@import 'variables';

.footer {
    position: relative;
    width: 100%;
    height: 180px;
    color: #ddd;
    background-color: #313339;
    border-top: 10px solid $color-yellow;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);

    @media #{$responsive-lg} {
        height: auto;
    }

    .footer-container {
        width: 1200px;
        padding: 20px 0;
        margin: 0 auto;

        @media #{$responsive-lg} {
            width: 100%;
            padding: 15px;
        }

        .info {

            @media #{$responsive-sm} {
                margin-top: 10px;
                text-align: center;
            }

            p {
                display: block;
                font-size: 12px;
                line-height: 16px;
                color: #888;
                margin-top: 20px;

                @media #{$responsive-sm} {
                    margin-top: 6px;
                }

                .copyleft {
                    display: inline-block;
                    font-size: 20px;
                    transform: rotate(180deg);
                    position: relative;
                    top: 6px;
                }
            }
        }

        h6 {
            font-size: 14px;
            margin-bottom: 14px;

            @media #{$responsive-sm} {
                display: none;
            }
        }

        ul {

            li {
                margin-bottom: 8px;
            }
        }

        .social-media {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @media #{$responsive-sm} {
                justify-content: center;
                margin-top: 20px;
            }

            li {
                margin-right: 10px;

                @media #{$responsive-sm} {
                    margin: 0 5px;
                }

                svg {
                    width: 22px;
                    height: 22px;

                    path:not(.transparent) {
                        fill: #fff;
                    }
                }

            }

        }

    }

}
