
<section class="main-container">
    
    <h1 class="h1">About Athletics Podium &amp; Me</h1>
    
    <div class="row">
        <div class="col-12 col-md-8 text-content text-content-static">

            <p>
                We all passionately love athletics, most elegant form of human-kind activity; and probably dearly follow it all life long. With a bunch of wondering, screaming, or crying…
            </p>

            <p>
                As a keen athletics lover and journalist, I’m compiling lots of results for many years. First, I recorded some lists on my notebook in my school days, then copied all encyclopedia pages which I found some results in. Once I started my current job, journalism, made the compilation process easier to me.
            </p>
            
            <p>
                Then I decided to gather all medallists from South American juniors to Oceania multi-eventers or African distance kings; at one place. This idea brings about athleticspodium.com. My aim is to have an open database which includes all big championships with all levels of competition types.
            </p>

            <h2>
                TARGET: PROPER AND EASY INFO
            </h2>
            <p>
                Sometimes I spent hours to find correct podium owners after the years of competition ends, which may be changed ‘several’ times for doping offenses or subsequent appeals. It’s really hard to find getting proper information, even from the official web sites or Wikipedia, ‘shortest way’ to have results. The problem is ‘old information’ was always available on the web and mixed with correct ones on digital garbage. So, we’re trying to solve this complexity with help from all athletics lovers over the globe. This project formed by myself but belongs to athletics passionates.
            </p>

            <p>
                When compiling such big data from very different sources, I learned lots of hidden stories between the pages. Also these stories must not be hidden in history. Athletics Podium will reveal also these finest memories.
            </p>

            <h2>
                CONTENT: WHAT’S INCLUDED?
            </h2>

            <p>
                In the first phase of the project, we have mainly ‘championships’. From Europe to Oceania, you can find all the top three medallists, results, technical data (wind, course measurement), and (if needs) some notes about the medal. We have all senior, U23, U20 and U18 level competition podiums on the database. Athletics Podium offering to you easily trace an athlete’s journey in global athletics from the very beginning.
            </p>

            <p>
                We have the countries on the base of the data. You can select a country to get to know athletics history in one summary page.
            </p>

            <p>
                Also, Athletics Podium is not only having great names of track and field, but noticing unsung heroes from different nations. It’s impossible to take some articles about all names registered in our database, but we’re sure it will be turning encyclopedia-type biographies during our journey.
            </p>

            <p>
                Simply, we are aiming six topics at the project: 
            </p>

            <p>
                - Most importantly, verified information. 
                <br>
                - Graphics use to easy understanding of data. (On social media posts)
                <br>
                - Easy and free reach to data. For everybody. 
                <br>
                - Strong connection between rich athletics history & today. 
                <br>
                - Broader collaboration for gathering information. 
                <br>
                - Credited every single contribution.
            </p>

            <p>
                While I defined myself politically as an 'eco-anarchist' or some kind of collectivist, I'm supporting open knowledge or free sources on the net. I don't think I have a right to copyright such a kind of compiled material which actually belongs to everybody. Therefore, ALL RIGHTS ARE NOT RESERVED on this site. By bona fide effort, if you can put this site name as a source on your work in the case of excerpting data from our page, we'll be glad.
            </p>

            <h2>
                SHARE YOUR KNOWLEDGE
            </h2>

            <p>
                We are demanding from you to help us to find missing information which is <a routerLink="/missing-information">listed here</a>. After every single contribution, we put the names who help us by sending missing names, results, biography notes, name correction, or photographs. Please use nearby form to send your contribution to athleticspodium.com.
            </p>

            <p>
                So, Let’s start to celebrate athletics culture.
            </p>

            <p>
                Şevket F. ERBAY
                <br>
                Editor, AthleticsPodium.com
            </p>
            
        </div>
        <div class="col-12 col-md-4">

            <h2 class="h2-yellow">Contact Form</h2>

            <app-contact-form></app-contact-form>

        </div>
    </div>

</section>
