
<section class="main-container">
    
    <h1 class="h1">About Athletics Podium &amp; Me</h1>
    
    <div class="row">
        <div class="col-8 about-content">
            <p>
                We all passionately love athletics, most elegant form of human-kind activity; and probably dearly follow it all life long.
                With a bunch of wondering, screaming or crying…
            </p>
            <p>
                As keen athletics lover and journalist, I’m compiling lots of results since many years.
                First, I recorded some lists on my notebook in my school days, then copied all encyclopedia pages which I found some results in.
                Once I started to my current job, journalism, made compilation process easier to me.
            </p>
            <p>
                Then I decided to gathering all medallist from South American juniors to Oceania multi-eventers or African distance kings; at one place.
                My aim is have a open database which includes all big championships with all level or competition types.
            </p>
            
            <h2>TARGET: PROPER AND EASY INFO</h2>
            <p>
                Sometimes I spent hours to find correct podium owners after the years of competition ends,
                which may be changed ‘several’ times for doping offenses or subsequent appeals. It’s really
                hard to find getting proper information, even from the official web sites or Wikipedia,
                ‘shortest way’ to have results. But the problem is ‘old information’ was always available on
                the web and mixed with correct ones on digital garbage. So, we’re trying to solve this
                complexity with help from all athletics lovers over the globe. This project formed by myself
                but belongs to athletics passionates.
            </p>
            <p>
                When compiling such big data from very different sources, I learned lots of hidden stories
                between the pages. Also these stories must not be hide on history. Athletics Podium will
                reveal also these finest memories.
            </p>
    
            <h2>CONTENT: WHAT’S INCLUDED?</h2>
            
            <p>
                In first phase of the project, we have mainly ‘championships’. From Europe to Oceania, you
                can find all top three medallists, results, technical data (wind, course measurement) and (if
                needs) some notes about the medal. We have all senior, U23, U20 and U18 level
                competitions podiums on database. Athletics Podium offering to you easily trace an athlete’s
                journey of global athletics from very beginning.
            </p>
            <p>
                We have the countries on base of the data. You can select a country to getting to know
                athletics history in one summary page.
            </p>
            <p>
                Also, Athletics Podium is not only having great names of track and field, but noticing unsung
                heroes from different nations. It’s impossible to taking some articles about all names
                registered in our database, but we’re sure it will be turning encyclopedia-type biographies
                during of our journey.
            </p>
            <p>
                So, Let’s start to celebrate athletics culture.
            </p>
    
            <p>
                Şevket F. ERBAY<br>
                Editor, AthleticsPodium
            </p>
    
        </div>
        <div>

        </div>
    </div>

</section>
