
<app-loader *ngIf="loading"></app-loader>

<app-breadcrumb *ngIf="!loading" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="!loading" class="main-container">

    <div class="row">
        <div class="col-md-3">

            <div class="card country-info mb-4">

                <img class="country-flag" [src]="'/assets/flags/' + country.code.toLowerCase() + '.svg'" [attr.alt]="country.code">
                <span class="country-code">{{ country.code }}</span>

                <h1 class="h1 mb-2">
                    {{ country.name }}
                </h1>
    
            </div>

        </div>
        <div class="col-md-9">

            <div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="h1 m-0">{{ country.name }}'s All Athletes</h1>
                <div style="width: 240px">
                    <input class="form-input" type="text" (keyup)="search($event)" placeholder="Type something for search on list" autocomplete="off" maxlength="40">
                </div>
            </div>

            <table class="table-medals">
                <thead>
                    <tr>
                        <th>Athlete</th>
                        <th class="text-center" style="width: 70px">Gender</th>
                        <th class="text-center">Gold</th>
                        <th class="text-center">Silver</th>
                        <th class="text-center">Bronze</th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody style="text-align: center;">
                    <tr *ngFor="let row of athletes">
                        <td>
                            <a [routerLink]="'/athlete/' + row.athlete.id + '/' + row.athlete.slug">
                                {{ row.athlete.first_name }} {{ row.athlete.last_name }}
                                <img *ngIf="row.athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                            </a>
                        </td>
                        <td class="text-center">{{ row.athlete.gender ? 'M' : 'W' }}</td>
                        <td class="text-center">{{ row.gold }}</td>
                        <td class="text-center">{{ row.silver }}</td>
                        <td class="text-center">{{ row.bronze }}</td>
                        <td class="text-center font-bold">{{ row.total }}</td>
                    </tr>
                </tbody>
            </table>

            <app-pagination *ngIf="count && !searchKey" [pageSize]="50" [total]="count" [currentPage]="page" (changedPage)="changedPage($event)"></app-pagination>

        </div>
    </div>

</section>