

<section class="main-container">

    <div class="row">
        <div class="col-2">

            <h4 class="h2-yellow">
                Years
            </h4>

            <div class="card mb-4">
                <ul class="years">
                    <li *ngFor="let year of years">
                        <a [routerLink]="'/calendar/' + year" [class.active]="active_year === year">
                            {{ year }}
                        </a>
                    </li>
                </ul>
            </div>
    
        </div>
        <div class="col-10">
    
            <h1 class="h1">
                {{ active_year }} Calendar
            </h1>

            <table class="table-medals">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Event</th>
                        <th>Venue</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let meeting of meetings">
                        <td>{{ meeting.year }}</td>
                        <td>
                            <a [routerLink]="'/champs/' + meeting.champ.slug + '/' + meeting.slug">
                                {{ meeting.name }}
                            </a>
                        </td>
                        <td>{{ meeting.city }} - {{ meeting.country_code }}</td>
                    </tr>
                </tbody>
            </table>
    
        </div>
    </div>

</section>
