


<section class="main-container">

    <div class="row">
        <div class="col-md-2 d-none d-md-block">

            <h4 class="h2-yellow">
                Years
            </h4>

            <div class="card mb-4">
                <ul class="years">
                    <li *ngFor="let year of years">
                        <a [routerLink]="'/calendar/' + year" [class.active]="activeYear === year">
                            {{ year }}
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="col-12 col-md-10">

            <section class="d-block d-md-none mb-4">

                <h4 class="h2-yellow">
                    Years
                </h4>

                <select class="form-select" name="years" [value]="activeYear" (change)="changeYear($event)">
                    <ng-container *ngFor="let year of years">
                        <option [value]="year">{{ year }}</option>
                    </ng-container>
                </select>

            </section>

            <h1 class="h1">
                {{ activeYear }} Calendar
				<label *ngIf="meetings.length" class="national-checkbox">
					<input type="checkbox" [checked]="showNationals" (change)="showNationals = !showNationals" />
					Show National Championships
				</label>
            </h1>

            <app-loader *ngIf="loading" size="partial"></app-loader>

            <app-error *ngIf="error" [error]="error" [fullscreen]="false"></app-error>

            <section *ngIf="!loading && !error">

                <div class="table-responsive">
                    <table *ngIf="meetings.length" class="table-medals table-medals-min-width">
                        <thead>
                            <tr>
                                <th>Event</th>
                                <th>Country</th>
                                <th>Venue</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
							<ng-container *ngFor="let meeting of meetings">
                            <tr *ngIf="meeting.champ.category !== ECategory.NATIONALS || showNationals">
                                <td>
                                    <a [routerLink]="'/champs/' + meeting.champ.slug + '/' + meeting.slug">
                                        {{ meeting.name }} {{ meeting.short_name ? '(' + meeting.short_name + ')' : '' }}
                                    </a>
                                </td>
                                <td class="text-nowrap">
                                    <a [routerLink]="'/country/' + meeting.country_code" [attr.aria-label]="meeting.country.name" data-balloon-pos="up">
                                        <img class="country-flag" [attr.src]="'/assets/flags/' + meeting.country_code.toLowerCase() + '.svg'" alt="">
                                        {{ meeting.country_code }}
                                    </a>
                                </td>
                                <td>{{ meeting.city }}</td>
                                <td>
                                    <ng-container *ngIf="meeting.start_date">
                                        {{ meeting.start_date | date }} {{ meeting.end_date ? '- ' + (meeting.end_date | date) : '' }}
                                    </ng-container>
                                    <ng-container *ngIf="!meeting.start_date">
                                        {{ meeting.year }}
                                    </ng-container>
                                </td>
                            </tr>
							</ng-container>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="meetings.length === 0">
                    Not found any meeting in this year.
                </div>

            </section>

        </div>
    </div>

</section>
