<section class="main-container">

    <div class="row">
        <div class="col-md-8">

            <p>home index works!</p>

            <br><br><br>
        
            <h2 class="font-bold">Shortcuts &rarr;</h2>
            <br><br>
            <a routerLink="/country/ETH">/country/ETH</a>
            <br><br>
            <a routerLink="/champs/african-champs">/champs/african-champs</a>
            <br><br>
            <a routerLink="/athlete/14606/andre-domingos">/athlete/14606/andre-domingos</a>

        </div>
        <div class="col-md-4">

            <section>
                <h2 class="h2-yellow">Medal Tracker</h2>
                <div class="mb-4">
                    <app-medal-search-form></app-medal-search-form>
                </div>
            </section>

            <section>

                <h2 class="h2-yellow">Upcoming Meetings</h2>
                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Meeting</th>
                            <th>Date</th>
                            <th>Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let meeting of upcomingMeetings">
                            <td>
                                <a [routerLink]="'/champs/' + meeting.champ.slug + '/' + meeting.slug">
                                    {{ meeting.name }}
                                </a>
                            </td>
                            <td class="text-nowrap">{{ meeting.start_date | date }}</td>
                            <td>{{ meeting.city }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section>

                <h2 class="h2-yellow">Latest Adds</h2>
                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Meeting</th>
                            <th>Created Date</th>
                            <th>Medals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let meeting of lastMeetings">
                            <td>
                                <a [routerLink]="'/champs/' + meeting.champ.slug + '/' + meeting.slug">
                                    {{ meeting.name }}
                                </a>
                            </td>
                            <td class="text-nowrap">{{ meeting.created_date | date }}</td>
                            <td class="text-center">{{ meeting.medalCount }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section>
                <h2 class="h2-yellow">Total Medal Count</h2>
                <div class="card total-medal-card">
                    <h6>
                        {{ totalCount }}
                    </h6>
                    <p>Number of medals currently available on the site.</p>
                </div>
            </section>

        </div>

    </div>

</section>