
@import 'variables';

.total-medal-card {
    text-align: center;
    padding: 20px;
    
    h6 {
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
    }

    p {
        font-size: 12px;
    }
}

.featured-athletes {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding: 15px;

    @media #{$responsive-md} {
        flex-direction: column;
    }

    .olympic-rings {
        width: 24px !important;
    }

    &-first {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 65%;

        @media #{$responsive-md} {
            width: 100%;
        }

        h5 {
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
        }

        &-picture {
            width: 220px;
            margin-right: 15px;

            @media #{$responsive-sm} {
                width: 120px;
            }
        }

        &-bio {
            margin-top: 10px;
            line-height: 18px;
        }

    }

    &-list {
        width: 35%;
        margin-left: 15px;
        padding-left: 15px;
        border-left: 1px solid #eee;

        @media #{$responsive-md} {
            border-left: none;
            border-top: 1px solid #eee;
            width: 100%;
            padding: 0;
            padding-top: 15px;
            margin: 0;
            margin-top: 15px;
        }

        li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 15px;

            &::before {
                content: '';
                position: absolute;
                top: 6px;
                left: 0;
                display: block;
                width: 4px;
                height: 4px;
                background-color: #ddd;
                border-radius: 50%;
            }

            &:last-child {
                margin-bottom: 0;
            }

            h6 {
                font-weight: bold;
                font-size: 16px;
            }
        }

    }
}