<section class="main-container">

    <div class="row">
        <div class="col-12 col-md-8">

			<section *ngIf="featuredArticle" class="featured-articles mb-4">

				<a [routerLink]="['/article', featuredArticle.article.id, featuredArticle.article.slug]" class="card featured-article-headline">
					<figure class="article-figure">
						<img [src]="mediaPathArticle + featuredArticle.article.image.uri" alt="">
					</figure>
					<div class="article-content">
						<h2>{{ featuredArticle.article.title }}</h2>
						<p>{{ featuredArticle.article.description }}</p>
						<span class="btn btn-sm">Read more</span>
					</div>
				</a>

				<div class="row">
					<div *ngFor="let featuredArticle of featuredArticles" class="col-12 col-md-6 col-lg-4">
						<a [routerLink]="['/article', featuredArticle.article.id, featuredArticle.article.slug]" class="card featured-article-item">
							<figure class="article-figure">
								<img [src]="mediaPathArticle + featuredArticle.article.image.uri" alt="">
							</figure>
							<div class="article-content">
								<h4>{{ featuredArticle.article.title }}</h4>
								<p>{{ featuredArticle.article.description }}</p>
								<span class="btn btn-sm">Read more</span>
							</div>
						</a>
					</div>
				</div>

			</section>

            <section class="mb-4" *ngIf="featuredAthletes?.length">
                <h2 class="h2-yellow">Featured Athletes</h2>
                <div class="card featured-athletes">

                    <div class="featured-athletes-first">
                        <a [routerLink]="['/athlete', featuredAthletes[0].athlete_id, featuredAthletes[0].athlete.slug]">
                            <img *ngIf="featuredAthletes[0].athlete.image?.length; else noImage" class="featured-athletes-first-picture border-radius-2" [src]="mediaPathAthlete + '/' + featuredAthletes[0].athlete.id + '/' + featuredAthletes[0].athlete.image[0].uri" alt="">
                            <ng-template #noImage>
                                <img class="featured-athletes-first-picture border-radius-2" [src]="'/assets/placeholders/athlete-' + (featuredAthletes[0].athlete.gender ? 'men' : 'women') + '.jpg'" alt="">
                            </ng-template>
                        </a>
                        <div>
                            <a [routerLink]="['/athlete', featuredAthletes[0].athlete_id, featuredAthletes[0].athlete.slug]">
                                <h5>
                                    {{ featuredAthletes[0].athlete.first_name }} {{ featuredAthletes[0].athlete.last_name }}
                                    <img *ngIf="featuredAthletes[0].athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                                </h5>
                            </a>
                            <div *ngIf="featuredAthletes[0].athlete.biography">
                                <div class="featured-athletes-first-bio">
                                    {{ featuredAthletes[0].athlete.biography | stripHtmlTags | stringSlice: 100 }}...
                                </div>
                                <a [routerLink]="['/athlete', featuredAthletes[0].athlete_id, featuredAthletes[0].athlete.slug]" class="btn btn-sm mt-2">Profile &rarr;</a>
                            </div>
                        </div>
                    </div>

                    <ul class="featured-athletes-list">
                        <ng-container *ngFor="let item of featuredAthletes; let i = index">
                            <li *ngIf="i > 0">
                                <a [routerLink]="['/athlete', item.athlete_id, item.athlete.slug]">
                                    <h6>
                                        {{ item.athlete.first_name }} {{ item.athlete.last_name }}
                                        <img *ngIf="item.athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                                    </h6>
                                </a>
                            </li>
                        </ng-container>
                    </ul>

                </div>
            </section>

            <section class="mb-4">
                <h2 class="h2-yellow">Today's Birthdates</h2>
                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Athlete Name</th>
                            <th style="width: 90px" class="text-center">Country</th>
                            <th>Birth Date</th>
                            <th style="width: 56px" class="text-center">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let athlete of athletesBorns">
                            <td>
                                <a [routerLink]="'/athlete/' + athlete.id + '/' + athlete.slug">
                                    {{ athlete.last_name }}, {{ athlete.first_name }}
                                    <img *ngIf="athlete.olympic_mark" class="olympic-rings" src="/assets/icons/olympic-rings.svg" alt="">
                                </a>
                            </td>
                            <td class="text-center">
                                <a [routerLink]="'/country/' + athlete.country_code" [attr.aria-label]="athlete.country.name" data-balloon-pos="up">
                                    <img class="country-flag" [src]="'/assets/flags/' + athlete.country_code.toLowerCase() + '.svg'" alt="">
                                    {{ athlete.country.code }}
                                </a>
                            </td>
                            <td>
                                {{ athlete.date_of_birth | date }}
                            </td>
                            <td class="text-center p-0">
                                <img class="gender-icon" [src]="'/assets/icons/gender-' + (athlete.gender ? 'men' : 'women') + '.svg'" alt="">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>

        </div>
        <div class="col-12 col-md-4">

            <section>
                <h2 class="h2-yellow">Medal Tracker</h2>
                <div class="mb-4">
                    <app-medal-search-form></app-medal-search-form>
                </div>
            </section>

			<section>
				<h2 class="h2-yellow">Medal Countdown by Champs</h2>
				<div class="card mb-4">
					<app-country-champs-form (search)="countryChampSearch($event)" [vertical]="true" />
				</div>
			</section>

			<section class="card p-0 mb-4">
				<a routerLink="/article/229/info-world-marathon-majors" title="World Marathon Majors">
					<img src="/assets/media/wmm.jpg" class="img-fluid border-radius-2" alt="">
				</a>
			</section>

			<section class="card p-0 mb-4">
				<a routerLink="/article/199/paris-2024-all-information" title="Paris 2024 Olympic Games">
					<img src="/assets/media/paris-2024.png" class="img-fluid border-radius-2" alt="">
				</a>
			</section>

            <section *ngIf="upcomingMeetings">

                <h2 class="h2-yellow">Upcoming Meetings</h2>

                <table *ngIf="upcomingMeetings.length" class="table-medals">
                    <thead>
                        <tr>
                            <th>Meeting</th>
                            <th>Date</th>
                            <th>Venue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let meeting of upcomingMeetings">
                            <td>
                                <a [routerLink]="'/champs/' + meeting.champ.slug + '/' + meeting.slug">
                                    {{ meeting.name }}
                                </a>
                            </td>
                            <td class="text-nowrap">{{ meeting.start_date | date }}</td>
                            <td>{{ meeting.city }}</td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="upcomingMeetings.length === 0">
                    Not found any upcoming meeting.
                </div>

            </section>

            <section *ngIf="lastMeetings">

                <h2 class="h2-yellow">Latest Adds</h2>
                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Meeting</th>
                            <th>Created Date</th>
                            <th>Medals</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let meeting of lastMeetings">
                            <td>
                                <a [routerLink]="'/champs/' + meeting.champ.slug + '/' + meeting.slug">
                                    {{ meeting.name }}
                                </a>
                            </td>
                            <td class="text-nowrap">{{ meeting.created_date | date }}</td>
                            <td class="text-center">{{ meeting.medalCount }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

            <section *ngIf="totalCount">
                <h2 class="h2-yellow">Total Medal Count</h2>
                <div class="card total-medal-card">
                    <h6>
                        {{ totalCount }}
                    </h6>
                    <p>Number of medals currently available on the site.</p>
                </div>
            </section>

        </div>

    </div>

</section>
