
.total-medal-card {
    text-align: center;
    padding: 20px;
    
    h6 {
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
    }

    p {
        font-size: 12px;
    }
}