
@import 'variables';

.breadcrumb-container {
    width: 100%;
    background-color: #f3f3f3;

    .breadcrumb {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 1200px;
        margin: 0 auto;
        padding: 16px 0;
        font-family: $font-ubuntu;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    
        @media #{$responsive-lg} {
            width: 100%;
            padding: 15px 6px;
        }
    
        li {
            position: relative;
            padding-right: 22px;
            height: 14px;
            margin-right: 10px;

            @media #{$responsive-sm} {
                height: unset;
            }
    
            &:after {
                content: '\21E2';
                display: inline-block;
                position: absolute;
                top: 0;
                right: 0;    
            }
    
            &:last-child:after {
                content: '';
            }
    
            a {
                
                &:hover {
                    text-decoration: underline;
                }
            }
    
            span {
                color: #666;
            }
        }
    }

}
