
.meetings {

    li {
        padding: 4px 0;

        a.active {
            padding-left: 6px;
            color: red;
            text-decoration: underline;
        }
    }
}

.gender-name {
    margin-bottom: 32px;
}

h3.event-name {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}
