
@import 'variables';

.champs-detail {

    figure {
        margin: -10px;
        margin-bottom: 24px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow: hidden;

        img {
            max-height: 400px;
        }
    }

    > h1 {
        margin: 0 20px;
    }

    .champs-content {
        padding: 20px;
        font-family: $font-ubuntu;
        font-size: 13px;
        line-height: 20px;
    }

}


.meetings {
    font-weight: bold;

    li {

        a {
            position: relative;
            display: inline-block;
            line-height: 18px;
            padding: 2px 0;
            padding-left: 18px;
            transition: all .2s ease;

            span {
                position: relative;
                top: -2px;
                font-weight: normal;
                font-size: 12px;
            }

            &:before {
                content: "";
                position: absolute;
                top: 7px;
                left: 0;
                display: block;
                width: 8px;
                height: 8px;
                background-color: #888;
                transform: skewX(12deg);
                transition: all .2s ease;
            }

            &:hover:before {
                background-color: #ffdd00;
            }

            &.active {
                padding-left: 28px;

                &:before {
                    left: 8px;
                    background-color: #ffdd00;
                }
            }

        }
        
    }
}

.gender-name {
    margin-bottom: 32px;
    text-transform: uppercase;
}

.event {
    margin-bottom: 32px;

    h3.event-name {
        font-size: 18px;
        font-weight: 700;
        margin: 10px 0;
    }
    
    .event-notes {
        margin-top: 10px;
        font-size: 12px;
    }

}
