
<app-loader *ngIf="loading"></app-loader>

<app-breadcrumb *ngIf="!loading" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="!loading" class="main-container">
    
    <div class="row">
        <div class="col-3">
            
            <h4 class="h2-yellow">
                Meetings
            </h4>

            <div class="card mb-4">
                
                <ul class="meetings">
                    <li *ngFor="let meeting of champs.meetings">
                        <a routerLink="/champs/{{ champs.slug }}/{{ meeting.slug }}" routerLinkActive="active">
                            {{ meeting.year }}
                        </a>
                    </li>
                </ul>

            </div>

            <section class="">

                <h4 class="h2-yellow">
                    Total Medals
                </h4>

                <table class="table-medals">
                    <thead>
                        <tr>
                            <th>Country</th>
                            <th class="text-center">G</th>
                            <th class="text-center">S</th>
                            <th class="text-center">B</th>
                            <th class="text-center">T</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let country of champs_countries">
                            <td>
                                <a [routerLink]="'/country/' + country.country_code">
                                    {{ country.country_code }}
                                </a>
                            </td>
                            <td class="text-center">{{ country.gold }}</td>
                            <td class="text-center">{{ country.silver }}</td>
                            <td class="text-center">{{ country.bronze }}</td>
                            <td class="text-center font-bold">{{ country.total }}</td>
                        </tr>
                    </tbody>
                </table>

            </section>

        </div>
        <div class="col-9">

            <app-loader *ngIf="loading_meetings"></app-loader>

            <ng-container *ngIf="!loading_meetings && !meeting">

                <section class="card champs-detail">
                    <figure>
                        <img [attr.src]="'/assets/media/african-champs.jpg'" class="img-cover" [attr.alt]="champs.name">
                    </figure>
                    <h1 class="h1 h1-larger">
                        {{ champs.name }}
                    </h1>
                    <div class="champs-content" [innerHTML]="champs.content"></div>
                </section>

            </ng-container>

            <ng-container *ngIf="!loading_meetings && meeting">

                <h1 class="h1">
                    {{ meeting.name }}
                </h1>

                <hr>

                <h2 class="h2-yellow gender-name">MENS</h2>

                <div *ngFor="let event of meeting_events">

                    <h3 class="event-name">{{ event.name }}</h3>

                    <table class="table-medals">
                        <thead>
                            <tr>
                                <th style="width: 20px">#</th>
                                <th style="width: 100px">Medal</th>
                                <th>Athlete</th>
                                <th style="width: 70px" class="text-center">Country</th>
                                <th style="width: 100px" class="text-right">Mark</th>
                                <th style="width: 80px">W/I</th>
                                <th style="width: 80px">Record</th>
                                <th style="width: 60px" class="text-center">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medal of event.medals" [class.canceled]="medal.is_canceled">
                                <td class="font-bold">
                                    {{ medal.medal ? medal.medal + '.' : '' }}
                                </td>
                                <td>
                                    {{ (medal.medal | medal).name }}
                                </td>
                                <td *ngIf="medal.athlete">
                                    <a routerLink="/athlete/{{ medal.athlete_id }}/{{ medal.athlete.slug }}">{{ medal.athlete.fullname }}</a>
                                </td>
                                <td *ngIf="!medal.athlete">
                                    -
                                </td>
                                <td class="text-center">
                                    <a routerLink="/country/{{ medal.country_code }}" [attr.aria-label]="medal.country_code" data-balloon-pos="up">
                                        <img class="country-flag" [attr.src]="'/assets/media/flags/' + medal.country_code.toLowerCase() + '.svg'" [attr.alt]="medal.country_code">
                                    </a>
                                </td>
                                <td class="text-right font-bold">
                                    {{ medal.mark_display }}
                                </td>
                                <td *ngIf="medal.wind" class="font-smaller" [class.invalid-wind]="Math.abs(medal.wind) > 2">
                                    {{ medal.wind }}
                                </td>
                                <td *ngIf="!medal.wind" class="font-smaller">
                                    {{ medal.info }}
                                </td>
                                <td>
                                    {{ medal.record }}
                                </td>
                                <td class="text-center">
                                    <span *ngIf="medal.notes" [attr.aria-label]="medal.notes" data-balloon-pos="up">
                                        <img src="/assets/images/info.svg" class="info-circle" alt="">                                        
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </ng-container>

        </div>
    </div>

</section>