
<app-loader *ngIf="loading"></app-loader>

<app-error *ngIf="error" [error]="error"></app-error>

<app-breadcrumb *ngIf="!loading && !error" [data]="breadcrumbs"></app-breadcrumb>

<section *ngIf="!loading && !error" class="main-container">

    <div class="row">
        <div class="col-md-3">

            <section>

                <h4 class="h2-yellow">
                    Meetings
                </h4>

                <div *ngIf="champs.meetings.length" class="card mb-4">

                    <ul class="meetings d-none d-md-block">
                        <li *ngFor="let meeting of champs.meetings">
                            <a [routerLink]="['/champs', champs.slug, meeting.slug]" routerLinkActive="active">
                                {{ meeting.year }} <span *ngIf="meeting.short_name">({{ meeting.short_name }}) </span><span *ngIf="meeting.city">{{ meeting.city }}</span>
                            </a>
                        </li>
                    </ul>

                    <select class="form-select d-block d-md-none" name="years" (change)="changeMeeting($event)">
                        <option value="">Meetings</option>
                        <ng-container *ngFor="let meeting of champs.meetings">
                            <option [value]="meeting.slug">{{ meeting.year }}{{ meeting.short_name ? ' (' + meeting.short_name + ')' : ''}} {{ meeting.city }}</option>
                        </ng-container>
                    </select>

                </div>

				<div *ngIf="!champs.meetings.length" class="mb-4">
					Not found any meeting.
				</div>

            </section>

            <section *ngIf="!loading && totals" class="d-none d-md-block">

                <h4 class="h2-yellow">
                    Total Medals
                </h4>

                <app-country-medal-count-table [data]="totals"></app-country-medal-count-table>

            </section>

        </div>
        <div class="col-md-9">

            <app-loader *ngIf="loading"></app-loader>

            <ng-container *ngIf="!loading">

                <section class="card champs-detail mb-4">
                    <figure>
                        <img [attr.src]="'/assets/media/' + champs.slug +  '.jpg'" class="img-cover" [attr.alt]="champs.name">
                    </figure>
                    <h1 class="h1 h1-larger">
                        {{ champs.name }}
                    </h1>
                    <div class="champs-content" [innerHTML]="champs.content | safeHtml"></div>
                </section>

            </ng-container>

            <section *ngIf="!loading && totals" class="d-block d-md-none">

                <h4 class="h2-yellow">
                    Total Medals
                </h4>

                <app-country-medal-count-table [data]="totals"></app-country-medal-count-table>

            </section>

        </div>
    </div>

</section>
