
h1 small {
    font-size: 12px;
    font-weight: normal;
}

.countries {

    li {
        margin-bottom: 20px;

        a {
            display: flex;
            justify-content: left;
            align-items: center;
            color: #4b4f54;
            transition: all .2s ease;

            img {
                min-width: 32px;
                width: 32px;
                height: 24px;
                margin-right: 8px;
                background-color: #fff;
                box-shadow: 0px 1px 1px rgba(0,0,0,.15);
            }
        
            h6 {
                display: block;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: #4b4f54;
            }
            
        }

    }
    
}
