
<app-loader *ngIf="loading"></app-loader>

<section *ngIf="!loading" class="main-container">


    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1 class="h1 mb-0">Countries {{ searchKey ? '— with contains "' + searchKey +'" key' : '' }}</h1>
        <div style="width: 240px">
            <input class="form-input" type="text" (keyup)="search($event)" placeholder="Type something for search on list" autocomplete="off" maxlength="40">
        </div>
        
    </div>

    <ul class="row countries">
        <ng-container *ngIf="!filteredCountries">
            <li class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1" *ngFor="let item of countries">
                <a [routerLink]="'/country/' + item.code">
                    <img [attr.src]="'/assets/media/flags/' + item.code.toLowerCase() + '.svg'" alt="">
                    <h6>{{ item.code }} <span>{{ item.name }}</span></h6>
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="filteredCountries">
            <li class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1" *ngFor="let item of filteredCountries">
                <a [routerLink]="'/country/' + item.code">
                    <img [attr.src]="'/assets/media/flags/' + item.code.toLowerCase() + '.svg'" alt="">
                    <h6>{{ item.code }} <span>{{ item.name }}</span></h6>
                </a>
            </li>
        </ng-container>
    </ul>

</section>
