
<app-loader *ngIf="loading"></app-loader>

<app-error *ngIf="error" [error]="error"></app-error>

<section *ngIf="!loading && !error" class="main-container">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h1 class="h1 mb-0">Countries {{ searchKey ? '— with contains "' + searchKey +'" key' : '' }}</h1>
        <div style="width: 240px">
            <input class="form-input" type="text" (keyup)="search($event)" placeholder="Type something for search on list" autocomplete="off" maxlength="40">
        </div>
        
    </div>

    <ul class="row countries">
        <li class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-1" *ngFor="let item of filteredCountries || countries">
            <a [routerLink]="'/country/' + item.code" [attr.aria-label]="item.name ? item.name : item.code" data-balloon-pos="up">
                <img [attr.src]="'/assets/flags/' + item.code.toLowerCase() + '.svg'" alt="">
                <h6>{{ item.code }}</h6>
            </a>
        </li>        
    </ul>

    <div *ngIf="filteredCountries && filteredCountries.length === 0">
        Not matched any country with your search.
    </div>

</section>
