
@import 'variables';

.countries-header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.h1 {
		margin-bottom: 0;

		small {
			font-size: 14px;
			font-weight: normal;
		}
	}

	.search-wrapper {
		width: 240px;
	}

	@media #{$responsive-md} {
		align-items: flex-start;
        flex-direction: column;

		.h1 {
			margin-bottom: 10px;

			small {
				font-size: 12px;
			}
		}

		.search-wrapper {
			width: 100%;
		}
    }

}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    text-transform: capitalize;

    li {
        display: block;
        font-weight: bold;
        height: 24px;
        padding: 4px;
        margin-right: 10px;
        cursor: pointer;
        transition: all .2s ease;
        border-bottom: 0px solid transparent;

		@media #{$responsive-md} {
			margin-right: 4px;
		}

        &.active {
            border-bottom: 4px solid $color-yellow;
        }

    }
}

.countries {
    margin-left: -10px;
    margin-right: -10px;

    li {
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 20px;

        a {
            display: flex;
            justify-content: left;
            align-items: center;
            color: #4b4f54;
            transition: all .2s ease;

            img {
                min-width: 48px;
                width: 48px;
                height: 36px;
                margin-right: 10px;
                background-color: #fff;
                box-shadow: 0px 1px 1px rgba(0,0,0,.15);
            }

            h5 {
                display: block;
                font-weight: 700;
                font-size: 16px;
                line-height: 18px;
                color: #4b4f54;
            }

            h6 {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #4b4f54;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

        }

    }

}
