
<section class="main-container">
    
    <h1 class="h1">Missing Information</h1>
    
    <div class="row">
        <div class="col-12 col-md-9">

          <ul class="tabs">
            <li [class.active]="tab === 'medallists'" (click)="changeTab('medallists')">Medallists</li>
            <li [class.active]="tab === 'marks'" (click)="changeTab('marks')">Marks</li>
            <li [class.active]="tab === 'names'" (click)="changeTab('names')">Names</li>
            <li [class.active]="tab === 'relays'" (click)="changeTab('relays')">Relays</li>
          </ul>

          <div class="tab-content text-content text-content-static">

            <app-loader *ngIf="loading[tab]" size="partial"></app-loader>

            <app-error *ngIf="error[tab]" [error]="error[tab]"></app-error>

            <div *ngIf="!loading[tab] && !error[tab]" [innerHTML]="pages[tab].content"></div>

          </div>

        </div>
        <div class="col-12 col-md-3">

          <h2 class="h2-yellow">Be a collaborator</h2>

          <app-contact-form [subject]="3"></app-contact-form>

        </div>
    </div>

</section>
