
@import 'variables';

.tabs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    text-transform: capitalize;

    li {
        display: block;
        font-weight: bold;
        height: 24px;
        padding: 4px;
        margin-right: 10px;
        cursor: pointer;
        transition: all .2s ease;
        border-bottom: 0px solid transparent;

        &.active {
            border-bottom: 4px solid $color-yellow;
        }

    }
}

.tab-content::ng-deep tbody {
    counter-reset: section;

    tr {
        counter-increment: section;

        span::before {
            content: counter(section);    
        }

    }

}
